*.swp
*.swo

# Dependencies
node_modules

# Logs
logs
*.log

# Configuration
.env

# Test Coverage
coverage
coverage.json
coverageEnv
allFiredEvents
.coverage_artifacts
.coverage_cache
.coverage_contracts

# OSX artifacts
.DS_Store
._*
.Spotlight-V100
.Trashes

# Editor artifacts
.*.sw[a-z]
*.un~
Session.vim
/*.sublime-project
*.sublime-workspace
/sftp-config.json
.project
*.tmp
*~
*.bak
local.properties
.settings
.classpath
.loadpath
.directory
npm-debug.log
yarn-error.log
.idea/*
build/

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# node-waf configuration
.lock-wscript

# Foundry
cache
out

# Echidna
crytic-export

# Avoid committing potentially differently licensed code..
src/implementation